<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <title>About</title>
</head>
<body>
    <%- include('partials/header') %>
    <div id="overview" class="overview">
        <%- include('partials/image') %><br><br>
        <h3>
            About Us
        </h3>
        <p>
            We are a startup company that wants to connect everyone that has an interst in sports! <br> Our goal is to help you find others that share your interest in sports!
        </p>
    </div>
    <%- include('partials/footer') %>
</body>
</html>